In [1]:
import pandas as pd

df = pd.read_csv('/Users/zwouq/Downloads/Start-ML/numpy/data.csv')
df.head(5)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [2]:
df.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

In [5]:
df[['latitude', 'longitude']].describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

Сейчас в данных присутствуют пропущенные значения. Давайте их удалим.

Примените метод dropna.  Сколько осталось записей?

In [7]:
df_cleaned = df.dropna()
df_cleaned.shape[0]

1925

Отберите заведения, которые находятся в городе Калифорния ('California'), штат Миссури.

In [9]:
df[df['city'] == 'California'].index

Int64Index([40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937,
            52938, 52939, 65070],
           dtype='int64')

Отберите заведения Taco Bell в городе Калифорния ('California'), штат Миссури.

In [11]:
df[(df['city'] == 'California') & (df['name'] == 'Taco Bell')].index

Int64Index([52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938,
            52939],
           dtype='int64')

Давайте найдем заведения Taco Bell или заведения, которые находятся в городе Нью-Йорк. При этом обязательно, чтобы в названии меню не было Volcano Taco и Fresco Soft Taco (именно таких значений колонки). Данные нужно сохранить в датафрейм result.

In [12]:
result = df[(df['city'] == 'New York') | (df['name'] == 'Taco Bell') & (~df['menus.name'].str.contains('Volcano Taco|Fresco Soft Taco'))]

Давайте отберем заведения, где значение валюты, в которой принимают оплату, не пропущено.

Нужно сохранить данные в результирующий датафрейм result.

In [ ]:
result = df[df['menus.currency'].notna()]

Попробуйте сделать data['categories'], data[['categories']], посмотрите на тип и на значения их элементов.

In [16]:
df['categories']

0        Restaurant Delivery Service,Restaurants,Pizza,...
1        Restaurant Delivery Service,Restaurants,Pizza,...
2             Golf Course, American Restaurant, and Resort
3                                     Fast Food Restaurant
4        Mexican Restaurant Mid-City West,Mexican Resta...
                               ...
77255                                           Restaurant
77256                                           Restaurant
77257                                           Restaurant
77258                                           Restaurant
77259                                           Restaurant
Name: categories, Length: 77260, dtype: object

In [18]:
df[['categories']]

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

In [21]:
df[['categories', 'city']]

                                              categories           city
0      Restaurant Delivery Service,Restaurants,Pizza,...       Atchison
1      Restaurant Delivery Service,Restaurants,Pizza,...       Atchison
2           Golf Course, American Restaurant, and Resort      Patterson
3                                   Fast Food Restaurant       Longmont
4      Mexican Restaurant Mid-City West,Mexican Resta...    Los Angeles
...                                                  ...            ...
77255                                         Restaurant  San Francisco
77256                                         Restaurant  San Francisco
77257                                         Restaurant  San Francisco
77258                                         Restaurant  San Francisco
77259                                         Restaurant  San Francisco

[77260 rows x 2 columns]

Напишите через запятую и пробел 5 городов с наибольшим количеством записей (в порядке убывания количества записей).

In [23]:
top_5_cities = df['city'].value_counts().nlargest(5)
top_5_cities

San Diego        1924
Los Angeles      1603
Chicago          1186
San Francisco    1120
New York         1085
Name: city, dtype: int64

Посчитайте, сколько ресторанов Taco Bell находится в каждом городе. Отберите 5 городов, в которых ресторан встречается чаще всего.

In [25]:
# Filter for Taco Bell
df_taco_bell = df[df['name'] == 'Taco Bell']

# Count the number of Taco Bells for each city
taco_bell_cities_counts = df_taco_bell['city'].value_counts()

# Find the Top 5 cities
top_5_cities_2 = taco_bell_cities_counts.nlargest(5)
result = pd.Series(top_5_cities_2, name='number_of_tacobell_restaurants')
result

Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: number_of_tacobell_restaurants, dtype: int64

Pестораны, открытые в октябре

In [26]:
october_restaurants = df[df['dateAdded'].str.contains('-10-', na=False)].index
october_restaurants

Int64Index([    2,    21,    22,    23,    24,    25,    55,    56,    57,
               58,
            ...
            76906, 76907, 76908, 76910, 76917, 76927, 76946, 76947, 76948,
            76949],
           dtype='int64', length=19542)

Сделайте группировку по месяцу открытия ресторана (переменная dateAdded). Сколько ресторанов было открыто в каждом месяце? Рассчитайте по количеству уникальных id ресторанов в каждом месяце.

In [33]:
df['dateAdded'] = pd.to_datetime(df['dateAdded'])
result = df.groupby(df['dateAdded'].dt.month)['id'].nunique()
result

dateAdded
1      308
2      257
3     4970
4     3224
5     1141
6     1356
7      645
8      479
9      554
10    4716
11    1550
12     239
Name: id, dtype: int64